{% extends 'main/dashboard.html.twig' %}

{% block title %}Profile{% endblock %}

{% block header %}
    <h1>Password change</h1>
{% endblock %}

{% block main %}
    <div class="row mt-3">
        <div class="col-md-12 d-flex flex-column">
            <p class="text-center h3 mb-4">
                Change your password here
            </p>

            {{ form_start(formPassword) }}  
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {{ form_row(formPassword.password, { 'attr': {'value' : ''}}) }}
                    </div>

                    <div class="my-3 w-100 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mx-3 d-flex align-items-center justify-content-center col-5">
                            change password
                        </button>
                    </div>
                </div>   
            {{ form_end(formPassword, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}