{% extends 'base.html.twig' %}
{% block title %}Giedła warzyw{% endblock %}


{% block stylesheets %}
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/form.css" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <div id="container" class="d-flex flex-column justify-content-start align-items-center" style="background-color: #253445; color: #ffffff; height: 100vh;">
        <a href="{{ path('check')}}" class="h1 link mt-3">
            Giełda Warzyw 
        </a>

        <h2 class="h3 mt-4">What's covered in these terms</h2>
        <ul>
            <li>Everything</li>
        </ul>

        <div class="d-flex flex-column justify-content-start align-items-center m-3 w-75">
            <h3 class="h4">Service provider</h4>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Lorem deserunt ullamco eiusmod adipisicing velit proident. Excepteur culpa labore elit proident duis velit aute. Nulla sit aute in occaecat sint. Amet occaecat aute ad ea ad id dolor reprehenderit et amet enim aliqua nulla sit.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Nisi culpa labore qui nisi dolore id nostrud et laborum adipisicing. Exercitation fugiat culpa veniam sit et aliquip non. Ex labore ea aliquip culpa ut incididunt adipisicing anim ad anim incididunt consectetur non.
            </p>
        </div>
        <div class="d-flex flex-column justify-content-start align-items-center m-3 mt-5 w-75">
            <h3 class="h4">Age requirements</h4>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Lorem deserunt ullamco eiusmod adipisicing velit proident. Excepteur culpa labore elit proident duis velit aute. Nulla sit aute in occaecat sint. Amet occaecat aute ad ea ad id dolor reprehenderit et amet enim aliqua nulla sit.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Adipisicing mollit voluptate et sint excepteur. Proident labore sunt sit proident non minim aute est do voluptate. Aliqua exercitation ex aliquip pariatur do ex.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Ut duis laboris pariatur quis incididunt velit enim ea laboris qui. In fugiat ad commodo irure cillum ex proident quis id proident pariatur. Commodo cupidatat aliquip exercitation laboris nulla voluptate consequat consequat duis occaecat et consequat velit. Anim est consequat quis cillum eu quis fugiat cupidatat Lorem. Duis eiusmod pariatur enim incididunt est labore est consectetur amet laboris. Dolore sit qui commodo irure tempor adipisicing non non cillum laboris dolor in.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Qui occaecat do laboris Lorem aliqua. Duis dolor enim magna culpa do commodo et ea elit deserunt. Excepteur deserunt ullamco nostrud aliquip. Dolor eu reprehenderit sint Lorem voluptate dolor ad. Exercitation labore magna ad esse cupidatat eu proident minim.
            </p>
        </div>
        <div class="d-flex flex-column justify-content-start align-items-center m-3 mt-5 w-75">
            <h3 class="h4">Legal responsibility</h4>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
            
                Lorem deserunt ullamco eiusmod adipisicing velit proident. Excepteur culpa labore elit proident duis velit aute. Nulla sit aute in occaecat sint. Amet occaecat aute ad ea ad id dolor reprehenderit et amet enim aliqua nulla sit.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Nisi culpa labore qui nisi dolore id nostrud et laborum adipisicing. Exercitation fugiat culpa veniam sit et aliquip non. Ex labore ea aliquip culpa ut incididunt adipisicing anim ad anim incididunt consectetur non.
            </p>
        </div>
        <div class="d-flex flex-column justify-content-start align-items-center m-3 mt-5 w-75">
            <h3 class="h4">User data</h4>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
            
                Lorem deserunt ullamco eiusmod adipisicing velit proident. Excepteur culpa labore elit proident duis velit aute. Nulla sit aute in occaecat sint. Amet occaecat aute ad ea ad id dolor reprehenderit et amet enim aliqua nulla sit.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Nisi culpa labore qui nisi dolore id nostrud et laborum adipisicing. Exercitation fugiat culpa veniam sit et aliquip non. Ex labore ea aliquip culpa ut incididunt adipisicing anim ad anim incididunt consectetur non.
            </p>
        </div>
        <div class="d-flex flex-column justify-content-start align-items-center m-3 mt-5 w-75">
            <h3 class="h4">Other</h4>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
            
                Lorem deserunt ullamco eiusmod adipisicing velit proident. Excepteur culpa labore elit proident duis velit aute. Nulla sit aute in occaecat sint. Amet occaecat aute ad ea ad id dolor reprehenderit et amet enim aliqua nulla sit.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Nisi culpa labore qui nisi dolore id nostrud et laborum adipisicing. Exercitation fugiat culpa veniam sit et aliquip non. Ex labore ea aliquip culpa ut incididunt adipisicing anim ad anim incididunt consectetur non.
            </p>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paragraph" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1h4.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-1 0V2H9v12.5a.5.5 0 0 1-1 0V1z"/>
                    <path d="M9 1v8H7a4 4 0 1 1 0-8h2z"/>
                </svg>
                Nostrud esse incididunt in qui ullamco eiusmod proident magna sunt labore nulla. Elit commodo occaecat adipisicing pariatur nisi dolor fugiat occaecat esse elit minim velit cillum. Et do qui laborum sit consequat nisi ut. Labore dolor quis nisi aliquip. Nulla aliqua mollit ea magna.
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

{% endblock %}

